<app-header></app-header>

<ion-content [fullscreen]="true">
  <ng-container *ngFor="let noticia of gestionNoticias.getNoticiasLeer()">
    <ion-item>
      <div>
        <ion-card>
          <ion-card-header>
            <app-noticias-header [noticia]="noticia"></app-noticias-header>
          </ion-card-header>
          <img src="{{noticia.urlToImage}}" />
          <ion-card-content>
            {{ noticia.description }}
          </ion-card-content>
          <div class="button-row"> 
            <ion-button fill="clear"><a target="_blank" rel="noopener noreferrer" href="{{noticia.url}}">Leer</a></ion-button>
            <ion-button fill="clear" (click)="alertaVentana(noticia)"><ion-icon name="trash"></ion-icon></ion-button>
          </div>     
        </ion-card>
      </div>
    </ion-item>
  </ng-container>
</ion-content>
