<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Mis Noticias
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true"> <!-- Contenido principal de la página, que se muestra en pantalla completa -->
  <ng-container *ngFor="let noticia of noticiasAlmacenadas"> <!-- Itera sobre la lista de noticias para leer -->
    <ion-item> <!-- Elemento de la lista de Ionic -->
      <div>
        <app-noticias [noticia]="noticia"></app-noticias>
      </div>
    </ion-item>
  </ng-container>
</ion-content>
