<ion-segment [scrollable]="true" (ionChange)="categoriaSelect($event)">
  <ion-segment-button value="general" content-id="general">
    <ion-label>General</ion-label>
  </ion-segment-button>
  <ion-segment-button value="business" content-id="business">
    <ion-label>Business</ion-label>
  </ion-segment-button>
  <ion-segment-button value="technology" content-id="technology">
    <ion-label>Technology</ion-label>
  </ion-segment-button>
  <ion-segment-button value="health" content-id="health">
    <ion-label>Health</ion-label>
  </ion-segment-button>
  <ion-segment-button value="science" content-id="science">
    <ion-label>Science</ion-label>
  </ion-segment-button>
</ion-segment>
